body {
    max-width: 1460px;
}

#title {

}

#menu {
    width: 200px;
    float: left;
}

#map-container {
    float: left;
    width: 960px;
    height: 600px;
    background: black;
    position: relative;
    color: white;
}

#map {
    font: 80%/0 sans-serif;
}

#selected-planet {
    position: absolute;
    background: white;
    margin: 50px 50px;
    width: 400px;
    height: 400px;
}

#planet-info {
    font: 100%/1.5 sans-serif;
    float: left;
    color: black;
    margin: 10px 10px;
}

.close-button {
    float: right;
}

#info {
    width: 300px;
    float: left;
}

#actions {
    margin-left: 200px;
    width: 400px;
    float: left;
}

.relation-name {
    height: 20px;
    border: 1px solid black
}

.relation-square {
    height: 20px;
    width: 20px;
    border: 1px solid black
}

