body {
    max-width: 1360px;
}

#title {

}

#menu {
    width: 200px;
    float: left;
}

#map {
    float: left;
    width: 960px;
    height: 600px;
    background: black;
    position: relative;
    color: white;
    font: 80%/0 sans-serif;
}

#selected-planet {
    position: absolute;
    background: white;
    margin: 50px 50px;
    width: 400px;
    height: 400px;
}

#planet-info {
    float: left;
    color: black;
}

.close-button {
    float: right;
}

#info {
    width: 200px;
    float: left;
}

#actions {
    margin-left: 200px;
    width: 400px;
    float: left;
}

