body {
    max-width: 1460px;
}

#title {

}

#menu {
    width: 200px;
    float: left;
}

#map-container {
    float: left;
    width: 960px;
    height: 600px;
    position: relative;
    background: black;
}

#map {
    font: 80%/0 sans-serif;
    color: white;
}

.close {
    margin-right: 5px;
    margin-top: 3px;
}

#info {
    width: 300px;
    float: left;
}

#actions {
    margin-left: 200px;
    width: 400px;
    float: left;
}

#navbar {
    margin-bottom: 0px;
}

.relation-name {
    height: 20px;
    border: 1px solid black
}

.relation-square {
    height: 20px;
    width: 20px;
    border: 1px solid black
}

.dialog {
    position: absolute;
    background: white;
    margin: 50px 50px;
    width: 860px;
    height: 500px;
}

.dialog-content {
    font: 100%/1.5 sans-serif;
    float: left;
    color: black;
    margin: 10px 10px;
}

.item-list {
    height: 500px;
    width: 140px;
    overflow: auto;
}

.ship {
    pointer-events: none;
}

.ship-image-container {
    height: 50px;
    width: 50px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    position: static;
}

/* TODO icons below, make them smart in one image instead */

.crystal {
    display: inline-block;
    width: 11px;
    height: 13px;
    background-image: url("../img/crystal.png");
}

.worker {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../img/worker.png");
}