<!DOCTYPE html>
<html ng-app="module">
<head>
    <meta charset="utf-8">
    <title>PloxWorld</title>
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/animation.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
</head>
<body ng-controller="Controller">

<div id="title" class="clear">
    {{ 'World' | greet }}
</div>

<div id="menu">
    menus lol
</div>

<div class="float-left">

    <ul id="navbar" class="nav nav-pills">
        <li id="tab-overview-persons"><a href="#overview-persons" data-toggle="tab">1. Persons</a></li>
        <li id="tab-overview-planets"><a href="#overview-planets" data-toggle="tab">2. Planets</a></li>
        <li id="tab-overview-empires"><a href="#overview-empires" data-toggle="tab">3. Empires</a></li>
        <li id="tab-overview-hide" class="hide"><a href="#overview-hide" data-toggle="tab"></a></li>
        <!--hax to hide tabs-->
    </ul>

    <div id="map-container">
        <div id="map">
            <div id="canvas-container" class="absolute">
                <canvas width="960" height="600" id="canvas"/>
            </div>

            <!--planets-->
            <!-- -15 comes from half the planet size, so the center of the planet image always is the planet position -->
            <div ng-repeat="object in planets" class="absolute"
                 ng-style="{'top': (object.y-15)+'px','left': (object.x-15)+'px'}">
                <!--<button ng-click="showPlanet(object)" class="planet"></button>-->
                <a ng-click="showPlanet(object)" href="javascript:void(0)"><img src="img/planet.png"/></a>
                <span ng-style="{'color': (object.getColor())}">{{object.name}}</span>
            </div>

            <!--ships-->
            <div ng-repeat="object in ships" class="absolute ship" ui-fade-toggle="object.position.x"
                 ng-style="{'top': (object.position.y-6)+'px','left': (object.position.x-3)+'px'}">
                <img src="img/{{object.getImageName()}}.png"/>
            </div>
        </div>

        <div class="tab-content">

            <div id="overview-planets" class="dialog tab-pane">

                <div class="float-left item-list">
                    ALL LE PLANETS:
                    <div ng-repeat="object in planets">
                        <a ng-click="showPlanet(object)" href="javascript:void(0)"><span
                                ng-style="{'color': (object.getColor())}">{{object.name}}</span></a>
                    </div>
                </div>

                <div id="selected-planet" ng-show="selectedPlanet">

                    <div class="dialog-content">
                        <h5>{{selectedPlanet.name}}</h5>
                        <h6><a ng-click="showEmpire(selectedPlanet.empire)" href="javascript:void(0)"
                               ng-style="{'color': (selectedPlanet.getColor())}">
                            Part of {{selectedPlanet.empire.name}}</a></h6>

                        <h6><a ng-click="showPerson(selectedPlanet.owner)" href="javascript:void(0)">
                            Leader: {{selectedPlanet.owner.name}}</a></h6>

                        <p>Population: {{selectedPlanet.pop}} ({{selectedPlanet.maxPop}})</p>

                        <p>Credits: {{selectedPlanet.credit}}</p>
                        <p>Supply: {{selectedPlanet.supply}} ({{selectedPlanet.supplyWork}}*{{selectedPlanet.supplyMultiplier}})</p>
                        <p>Production: {{selectedPlanet.production}} ({{selectedPlanet.productionWork}}*{{selectedPlanet.productionMultiplier}})</p>
                        <p>Material: {{selectedPlanet.material}} ({{selectedPlanet.materialWork}}*{{selectedPlanet.materialMultiplier}})</p>
                        <p>Science: {{selectedPlanet.science}} ({{selectedPlanet.scienceWork}}*{{selectedPlanet.scienceMultiplier}})</p>
                        <p>Crystal: {{selectedPlanet.crystal}} ({{selectedPlanet.crystalWork}}*{{selectedPlanet.crystalMultiplier}})</p>

                        <p>EXPORT:</p>

                        <div ng-repeat="object in selectedPlanet.export">
                            export {{object.amount}} {{object.resource}} to
                            <a ng-click="showPlanet(object.toPlanet)" href="javascript:void(0)"
                               ng-style="{'color': (object.toPlanet.getColor())}">
                                {{object.toPlanet.name}}</a>
                        </div>

                        <p>IMPORT:</p>

                        <div ng-repeat="object in selectedPlanet.import">
                            import {{object.amount}} {{object.resource}} from
                            <a ng-click="showPlanet(object.fromPlanet)" href="javascript:void(0)"
                               ng-style="{'color': (object.fromPlanet.getColor())}">
                                {{object.fromPlanet.name}}</a>
                        </div>
                    </div>

                </div>

                <button class="close" ng-click="hideTabs()">&times;</button>
            </div>
            <div id="overview-empires" class="dialog tab-pane">

                <div class="float-left item-list">
                    ALL LE EMPIRES:
                    <div ng-repeat="object in empires">
                        <a ng-click="showEmpire(object)" href="javascript:void(0)"><span
                                ng-style="{'color': (object.getColor())}">{{object.name}}</span></a>
                    </div>
                </div>

                <div id="selected-empire" ng-show="selectedEmpire">
                    <div class="dialog-content">
                        <h5>{{selectedEmpire.name}}</h5>
                        <h6><a ng-click="showPerson(selectedEmpire.owner)" href="javascript:void(0)">
                            Leader: {{selectedEmpire.owner.name}}</a></h6>
                    </div>
                </div>
                <button class="close" ng-click="hideTabs()">&times;</button>
            </div>

            <div id="overview-persons" class="dialog tab-pane">

                <div class="float-left item-list">
                    ALL LE PERSONS:
                    <div ng-repeat="object in persons">
                        <a ng-click="showPerson(object)" href="javascript:void(0)">
                            <span>{{object.name}}</span></a>
                    </div>
                </div>

                <div id="selected-person" ng-show="selectedPerson">

                    <div class="dialog-content">
                        <h5>{{selectedPerson.name}}</h5>
                        <h4 ng-show="selectedPerson.empire"><a ng-click="showEmpire(selectedPerson.empire)"
                                                               href="javascript:void(0)">
                            Leader of {{selectedPerson.empire.name}}</a></h4>
                        <h4 ng-show="selectedPerson.planet"><a ng-click="showPlanet(selectedPerson.planet)"
                                                               href="javascript:void(0)">
                            Owner of {{selectedPerson.planet.name}}</a></h4>
                    </div>
                </div>
                <button class="close" ng-click="hideTabs()">&times;</button>
            </div>
            <div id="overview-hide" class="tab-pane">
                <!--hax to hide tabs-->
            </div>
        </div>
    </div>
</div>

<div id="info">
    <ul class="nav nav-tabs">
        <li id="tab-galaxy"><a href="#tab1" data-toggle="tab">Galaxy</a></li>
        <li id="tab-empires" class="active"><a href="#tab2" data-toggle="tab">Empires</a></li>
        <li id="tab-whaeva"><a href="#">whaeva</a></li>
    </ul>

    <div class="tab-content">
        <div id="tab1" class="tab-pane">
            <p> Stardate: {{4000+tics/10}}</p>

            <p> Total population: {{totPop}}</p>
        </div>

        <div id="tab2" class="tab-pane active">

            <h5>Empire relations</h5>

            <div id="empire-relations"></div>

            <!--<div style="float:left">-->
            <!--<div class="relation-name" style="background: white">.</div>-->
            <!--<div class="relation-name" style="background: red">ett lag</div>-->
            <!--<div class="relation-name" style="background: green">a</div>-->
            <!--<div class="relation-name" style="background: blue">a</div>-->
            <!--</div>-->

            <!--<div style="float:left">-->
            <!--<div class="relation-square" style="background: chartreuse"></div>-->
            <!--<div class="relation-square" style="background: firebrick"></div>-->
            <!--<div class="relation-square" style="background: chartreuse"></div>-->
            <!--<div class="relation-square" style="background: firebrick"></div>-->
            <!--</div>-->
            <!--<div style="float:left">-->
            <!--<div class="relation-square" style="background: chartreuse"></div>-->
            <!--<div class="relation-square" style="background: firebrick"></div>-->
            <!--<div class="relation-square" style="background: chartreuse"></div>-->
            <!--<div class="relation-square" style="background: firebrick"></div>-->
            <!--</div>-->
            <!--<div style="float:left">-->
            <!--<div class="relation-square" style="background: firebrick"></div>-->
            <!--<div class="relation-square" style="background: chartreuse"></div>-->
            <!--<div class="relation-square" style="background: firebrick"></div>-->
            <!--<div class="relation-square" style="background: chartreuse"></div>-->
            <!--</div>-->
            <!--<div style="float:left">-->
            <!--<div class="relation-square" style="background: chartreuse"></div>-->
            <!--<div class="relation-square" style="background: firebrick"></div>-->
            <!--<div class="relation-square" style="background: chartreuse"></div>-->
            <!--<div class="relation-square" style="background: firebrick"></div>-->
            <!--</div>-->

        </div>
    </div>
</div>

<div id="actions">
    <button ng-click="tic()" class="btn-primary">tic</button>
    <button ng-click="startGame()" class="btn-primary">new game</button>
    <button ng-click="calculateTradeMap()" class="btn-primary">test</button>
</div>

<!--XXX use minimilized angular someday in the FUTURE-->
<!--XXX do we need sanitize?-->
<!--XXX use cdn when all is said and done-->
<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>-->
<!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.js"></script>-->
<script src="js/underscore-min.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/seedrandom.js"></script>

<script src="js/common.js"></script>
<script src="js/canvas.js"></script>
<script src="js/findPath.js"></script>

<script src="js/resources.js"></script>
<script src="js/traderoutesCalculate.js"></script>
<script src="js/traderoutes.js"></script>
<script src="js/ship.js"></script>
<script src="js/planet.js"></script>
<script src="js/planetGenerator.js"></script>
<script src="js/empire.js"></script>
<script src="js/empireGenerator.js"></script>
<script src="js/person.js"></script>
<script src="js/personGenerator.js"></script>

<script src="js/module.js"></script>
<script src="js/controller.js"></script>
</body>
</html>