<!DOCTYPE html>
<html ng-app="module">
<head>
    <title>PloxWorld</title>
    <!--TODO must this be above all the angular-syntax?-->


    <link rel="stylesheet" type="text/css" href="css/common.css">

</head>
<body>

{{ 'World' | greet }}

Hello dear friend :)

1+1 = {{1+1}}

<div ng-controller="Controller">

    <div id="map">
        <!--planets-->
        <div ng-repeat="object in planets" ng-class="print($angularjs)">
            <div object-on-map>
                {{object.name}}
            </div>
        </div>
    </div>

    <div ng-repeat="planet in planets">
        <h6>{{planet.name}}</h6>
        {{planet.x}},
        {{planet.y}}
        <div ng-repeat="person in planet.persons">
            {{person}}
        </div>
    </div>

    <button ng-click="movePlanet()">move planet</button>
    <button ng-click="movePerson()">move person</button>
    <button ng-click="tic()">tic</button>
</div>

<!--XXX use minimilized angular someday in the FUTURE-->
<!--XXX do we need sanitize?-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-sanitize.js"></script>
<script src="js/planetGenerator.js"></script>
<script src="js/personGenerator.js"></script>
<script src="js/module.js"></script>
<script src="js/controller.js"></script>
</body>
</html>