<!DOCTYPE html>
<html ng-app="module">
<head>
    <title>PloxWorld</title>
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/animation.css">
</head>
<body ng-controller="Controller">

<div id="title" class="clear">
    {{ 'World' | greet }}
</div>

<div id="menu">
    menus lol
</div>

<div id="map">

    <div id="canvas-container" class="absolute">
        <canvas width="960" height="600" id="canvas"/>
    </div>

    <!--planets-->
    <!-- -15 comes from half the planet size, so the center of the planet image always is the planet position -->
    <div ng-repeat="object in planets" class="absolute"
         ng-style="{'top': (object.y-15)+'px','left': (object.x-15)+'px'}">
        <!--<button ng-click="showPlanet(object)" class="planet"></button>-->
        <a ng-click="showPlanet(object)" href="javascript:void(0)"><img src="img/planet.png"/></a>
        <span ng-style="{'color': (object.getColor())}">{{object.objectName}}<span/>
    </div>

    <!--ships-->
    <div ng-repeat="object in ships" class="absolute ship" ui-fade-toggle="object.position.x"
         ng-style="{'top': (object.position.y-6)+'px','left': (object.position.x-3)+'px'}">
        <img src="img/ship.png"/>
    </div>

    <div id="selected-planet" class="absolute">

        <button class="close-button">close</button>

        <div id="planet-info">
            <p>{{selectedPlanet.objectName}}</p>

            <p>Population: {{selectedPlanet.pop}} ({{selectedPlanet.maxPop}})</p>

            <p>Supply: {{selectedPlanet.supply}} (+{{selectedPlanet.supplyProd}})</p>

            <p>Importance: {{selectedPlanet.importance}}</p>
        </div>

    </div>
</div>


<div id="info">
    <p class="inline"> info</p>
</div>

<div id="actions">
    <button ng-click="movePlanet()" class="btn-primary">move planet</button>
    <button ng-click="movePerson()">move person</button>
    <button ng-click="tic()">tic</button>
    <button ng-click="calculateTradeMap()">test</button>
</div>

<!--XXX use minimilized angular someday in the FUTURE-->
<!--XXX do we need sanitize?-->
<!--XXX use cdn when all is said and done-->
<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>-->
<!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.js"></script>-->
<script src="js/underscore-min.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/seedrandom.js"></script>

<script src="js/common.js"></script>
<script src="js/canvas.js"></script>
<script src="js/dialogs.js"></script>
<script src="js/findPath.js"></script>

<script src="js/resources.js"></script>
<script src="js/traderoutes.js"></script>
<script src="js/ship.js"></script>
<script src="js/planet.js"></script>
<script src="js/planetGenerator.js"></script>
<script src="js/empire.js"></script>
<script src="js/empireGenerator.js"></script>
<script src="js/person.js"></script>
<script src="js/personGenerator.js"></script>

<script src="js/module.js"></script>
<script src="js/controller.js"></script>
</body>
</html>